<ion-list>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">{{'Name'|translate}}</ion-label>
      <ion-input formControlName="name" [placeholder]='"Your relatives/friends/colleagues name goes here"| translate'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'Day'|translate}}</ion-label>
      <ion-input formControlName="dayOfBirth" type="number" max="31" [placeholder]="'What day was this person born'|translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'Month'|translate}}</ion-label>
      <ion-select [placeholder]="'What month was this person born'|translate" formControlName="monthOfBirth">
        <ion-select-option [value]="i" *ngFor="let month of months; let i = index">{{month|translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'Year'|translate}}</ion-label>
      <ion-input min="0" [max]="5000" type="number" formControlName="yearOfBirth" [placeholder]="'What year was this person born'|translate"></ion-input>
    </ion-item>
    <ion-button
      (click)="savePerson()"
      expand="block"
      class="ion-margin-horizontal"
      [disabled]="form.invalid"
    >{{(this.person ? 'Save': 'Add someone new')|translate}}</ion-button
    >
    <ion-button
      *ngIf="this.person"
      (click)="cancel()"
      expand="block"
      class="ion-margin-horizontal"
      color="danger"
      fill="outline"
    >{{'Cancel'|translate}}</ion-button
    >
  </form>
</ion-list>
