<ion-list>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">{{'Name'|translate}}</ion-label>
      <ion-input formControlName="name" placeholder="Enter text" clear-input="true"></ion-input>
    </ion-item>
    <ion-list-header>{{'Day of birth'|translate}}</ion-list-header>
    <ion-item>
      <ion-label position="floating">{{'Day'|translate}}</ion-label>
      <ion-input formControlName="dayOfBirth" type="number" max="31"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Month'|translate}}</ion-label>
      <ion-select formControlName="monthOfBirth">
        <ion-select-option [value]="i" *ngFor="let month of months; let i = index">{{month|translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Year'|translate}}</ion-label>
      <ion-input min="0" [max]="5000" type="number" formControlName="yearOfBirth"></ion-input>
    </ion-item>
    <ion-button
      (click)="savePerson()"
      expand="block"
      class="ion-margin-horizontal"
      [disabled]="form.invalid"
    >{{'Add someone new'|translate}}</ion-button
    >
  </form>
</ion-list>
