<ion-header [translucent]="true" *ngIf="!!people?.length">
  <ion-toolbar>
    <div class="ion-margin year-selector-container">
      <ion-button shape="round" fill="outline" class="minus" (click)="addToTargetYear(-50)">-</ion-button>
      <ion-text class="ion-padding-horizontal"
        >{{("When are all these people going to be x years old" | translate:
        {years:targetNrOfYears}) + "?" }}</ion-text
      >
      <ion-button shape="round" class="plus" (click)="addToTargetYear(50)">+</ion-button>
    </div>
  </ion-toolbar>
  <ion-item color="light" *ngIf="result">
    {{((resultIsBeforeToday ? 'These people were x on the y' :'You will be x on the y')| translate:{date:(result | date : 'dd. MM. YYYY'), targetNrOfYears})}}
  </ion-item>
</ion-header>

<ion-content>
  <ion-list *ngIf="people?.length; else empty">
    <ion-item
      *ngFor="let person of people;"
      button="true"
      (click)="openEditModal(person, $event)"
    >
      <ion-label>
        <h3>{{ person.name }}</h3>
        <p>
          {{ ('Birthday' | translate )+ ': ' + (person.dateOfBirth | date : 'dd. MM. YYYY') }}
        </p>
        <p *ngIf="person.ageAtResult !== undefined">
          <span *ngIf="person.ageAtResult < 0"
            >{{'They were not born yet'|translate}}</span
          >
          <span *ngIf="person.ageAtResult >= 0"
            >{{ ((resultIsBeforeToday ? 'This day they were' :'This day they will be') | translate)+ ': ' +
            (person.ageAtResult) }}</span
          >
        </p>
      </ion-label>
      <ion-button  fill="outline" (click)="openEditModal(person, $event)"><ion-icon
        name="pencil"
      ></ion-icon></ion-button>
      <ion-button  fill="outline" (click)="removeAPerson(person, $event)"><ion-icon
        name="trash"
      ></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <ng-template #empty>
    <app-error-message [message]="message" [showLanguageSelector]="true"></app-error-message
  ></ng-template>
</ion-content>

<ion-footer *ngIf="result" class="ion-no-margin ion-no-padding">
  <div class="bottom-panel">
  <ion-button expand="full" fill="clear" (click)="openEditModal()" class="ion-padding-horizontal ion-margin"
    >{{"Add someones birthday"|translate}} <ion-icon name="add"></ion-icon
  ></ion-button>
  <app-language-selector></app-language-selector></div>
</ion-footer>
