ion-text {
  display: flex;
  align-items: center;
}

.addMorePeopleLink {
  color: var(--ion-color-light);
  text-decoration: underline;
}

.header-middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .target-selector {
    display: flex;
    flex-direction: row;
  }

  .nrOfYears {
    font-size: xx-large;
  }
}

.result-content {
  width: 100%;
  text-align: center;
  font-size: large;
}

.just-one-person-result {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
