.year-selector-container{
  display: flex;
  justify-content: space-between;

  ion-text{
    display: flex;
    align-items: center;
  }
}

.bottom-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
